<div class="{{cssClass}} standard-chat-card chat-card">
    {{#if hasDescription}}
    <div class="chat-header collapsible collapsed">
        <header class="flexrow">
            <img src="{{document.img}}" title="{{document.name}}" width="50" height="50">
            <div class="title">
                <div class="name">{{document.name}}</div>
                <div class="type">{{localize document.type}}</div>
            </div>
            <i class="collapse-icon fas fa-chevron-down fa-fw"></i>
        </header>

        <section class="description collapsible-content">
            {{{description}}}
        </section>
    </div>
    {{else}}
    <div class="chat-header">
        <header class="flexrow">
            <img src="{{document.img}}" title="{{document.name}}" width="50" height="50">
            <div class="title">
                <div class="name">{{document.name}}</div>
                <div class="type">{{localize document.type}}</div>
            </div>
        </header>
    </div>
    {{/if}}
    <div class="chat-info">
        <dl>
            {{#each parts}}
                {{#if this.isRoll}}
                    <div class="dice-roll wide">
                        <div class="dice-result">
                            <h4 class="dice-total"><i class="fa-solid fa-dice-d20"></i> <span class="dice-info" data-tooltip="{{this.label}} {{this.value.cleanFormula}}"><span class="label">{{this.label}}:</span> <span class="formula">{{this.value.cleanFormula}}</span></span> <span class="result">{{this.value._total}}</span></h4>
                            {{{this.tooltip}}}
                        </div>
                    </div>
                {{else if this.isMeasuredTemplate}}
                    <div class="measured-template wide" data-type="{{this.object.type}}" data-distance="{{this.object.distance}}" data-direction="{{this.object.direction}}" data-angle="{{this.object.angle}}" data-width="{{this.object.width}}">
                        <div class="measured-template-button">
                            <h4 class="summary"><i class="fa-solid fa-ruler-combined"></i> <span class="info">{{this.value}}</span><span class="result action" data-action="place" data-tooltip="Place"><i class="fa-solid fa-border-outer"></i></span></h4>
                        </div>
                    </div>
                {{else if this.isParagraph}}
                    <div class="wide">
                        <dt>{{this.value}}</dt>
                        <dd></dd>
                    </div>
                {{else}}
                    {{#if this.hasValue}}
                        {{#if this.wide}}
                            <div class="wide collapsible">
                                <dt class="title">{{this.label}} <i class="collapse-icon fas fa-chevron-down fa-fw"></i></dt>
                                <dd class="collapsible-content">{{{this.value}}}</dd>
                            </div>
                        {{else}}
                            <dt>{{this.label}}</dt>
                            <dd>{{{this.value}}}</dd>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/each}}
        </dl>

        <div class="chat-info-tags">
            {{#each tags}}
                {{#if this.hasValue}}
                <div class="tag"><span class="label">{{this.label}}</span> {{this.value}}</div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    {{#if hasEffects}}
    <div class="chat-effects collapsible">
        <h3 class="title">{{localize "EFFECT.TabEffects"}} <i class="collapse-icon fas fa-chevron-down fa-fw"></i></h3>
        <div class="effects collapsible-content">
        {{#each document.effects}}
            <div class="effect" draggable="true" data-uuid="{{this.uuid}}">
                <header class="flexrow">
                    <img src="{{this.img}}" title="{{this.name}}" width="30" height="30">
                    <div class="name">{{this.name}}</div>
                </header>
                <div class="effect-content">{{{this.description}}}</div>
            </div>
        {{/each}}
        </div>
    </div>
    {{/if}}
</div>
