<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{document.img}}" title="{{document.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{document.name}}" placeholder="Equipment Name"/>
        </h1>
    </header>


    {{!-- Body --}}
    <section class="sheet-body flexcol">

        <section class="pages-container">
            <div class="tab flexcol active" data-group="primary" data-tab="main">
                {{!-- Main Configuration --}}
                <div class="grid-container">
                    {{!-- String Type --}}
                    <div class="form-group property stringExp" data-name="system.type">
                        <label>{{ localize "Equipment.Type.label" }}</label>
                        <select name="system.type" disabled='disabled'>
                            {{selectOptions typeChoices selected=document.system.type localize=true}}
                        </select>
                    </div>

                    {{!-- Number Bonus --}}
                    <div class="form-group property numberExp " data-name="system.bonus">
                        <label>{{ localize "Equipment.Bonus" }}</label>
                        {{numberInput document.system.bonus name="system.bonus" disabled=true step=1}}
                        
                    </div>

                </div>

                {{!-- Tab Navigation --}}
                <nav class="sheet-navigation tabs" data-group="secondary">
                    <a class="item" data-tab="description"><i class="fa-solid fa-book"></i> {{ localize "Description" }}</a>
                    <a class="item" data-tab="effects"><i class="fa-solid fa-sparkles"></i> {{ localize "Effects" }}</a>
                </nav>

                <section class="tabs-container">
                    {{!-- Description Tab --}}
                    <div class="tab description flexrow" data-group="secondary" data-tab="description">
                        <fieldset>
                            {{!-- Description --}}
                            <div class="form-group stacked" data-name="system.description">
                                <label>{{ localize "Description" }}</label>
                                {{editor descriptionHTML target="system.description" button=false editable=editable engine="prosemirror" collaborate=false}}
                            </div>
                        </fieldset>
                    </div>

                
                    {{!-- Effects Tab --}}
                    <div class="tab effects" data-group="secondary" data-tab="effects" data-type="ActiveEffect">
                        {{!-- Effects Table --}}
                        <table class="display" style="width: 100%">
                            <thead>
                                <tr>
                                    <th data-class-name="priority" data-orderable="false">{{ localize "Image" }}</th>
                                    <th data-class-name="priority">{{ localize "Name" }}</th>
                                    <th>{{ localize "Source" }}</th>
                                    <th data-class-name="priority" data-orderable="false">{{ localize "Actions" }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each document.effects as |effect|}}
                                    <tr data-id="{{effect._id}}" data-uuid="{{effect.uuid}}" data-type="ActiveEffect">
                                        <td><img src="{{effect.img}}" title="{{effect.name}}" width=40 height=40 /></td>
                                        <td data-tooltip='{{effect.description}}'>{{effect.name}}</td>
                                        <td>{{effect.source}}</td>
                                        <td>
                                            <div class="flexrow">
                                                {{#if effect.disabled}}
                                                <a class="row-action" data-action="toggle" data-item="{{effect._id}}" data-tooltip="{{localize 'Enable'}}"><i class="fas fa-toggle-off"></i></a>
                                                {{else}}
                                                <a class="row-action" data-action="toggle" data-item="{{effect._id}}" data-tooltip="{{localize 'Disable'}}"><i class="fas fa-toggle-on"></i></a>
                                                {{/if}}
                                                <a class="row-action" data-action="edit" data-item="{{effect._id}}" data-tooltip="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                                                <a class="row-action" data-action="sendToChat" data-item="{{effect._id}}" data-tooltip="{{localize 'SendToChat'}}"><i class="fas fa-message"></i></a>
                                                <a class="row-action" data-action="delete" data-item="{{effect._id}}" data-tooltip="{{ localize 'Delete' }}"><i class="fas fa-delete-left"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

        </section>
    </section>
</form>
