<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{document.img}}" title="{{document.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{document.name}}" placeholder="Spell Name"/>
        </h1>
    </header>


    {{!-- Body --}}
    <section class="sheet-body flexcol">

        <section class="pages-container">
            <div class="tab flexcol active" data-group="primary" data-tab="main">
                {{!-- Main Configuration --}}
                <div class="grid-container">
                    {{!-- String Type --}}
                    <div class="form-group property stringExp" data-name="system.type">
                        <label>{{ localize "Spell.Type.label" }}</label>
                        <select name="system.type" >
                            {{selectOptions typeChoices selected=document.system.type localize=true}}
                        </select>
                    </div>

                    {{!-- String Class --}}
                    <div class="form-group property stringExp" data-name="system.class">
                        <label>{{ localize "Spell.Class.label" }}</label>
                        <select name="system.class" >
                            {{selectOptions classChoices selected=document.system.class localize=true}}
                        </select>
                    </div>

                    {{!-- Number Level --}}
                    <div class="form-group property numberExp calc" data-name="system.level">
                        <label>{{ localize "Spell.Level" }}</label>
                        {{numberInput document.system.level name="system.level" disabled=false step=1}}
                        <a class="calculator-toggle action" data-action="toggle-calculator">
                            <i class="fa-solid fa-calculator"></i>
                        </a>
                        <div class="calculator">
                            <input type="number" class="calc-input" placeholder="Enter number">
                            <div class="calc-buttons">
                                <button data-action="calc-mode" data-mode="add" class="mode-button active action" data-tooltip="Add">➕</button>
                                <button data-action="calc-mode" data-mode="subtract" class="mode-button action" data-tooltip="Subtract">➖</button>
                                <button data-action="calc-mode" data-mode="multiply" class="mode-button action" data-tooltip="Multiply">✖️</button>
                                <button data-action="calc-mode" data-mode="divide" class="mode-button action" data-tooltip="Divide">➗</button>
                            </div>
                            <div class="calc-buttons">
                                <button data-action="calc-submit" class="action" data-tooltip="Submit">✅</button>
                                <button class="close-btn action" data-action="toggle-calculator" data-tooltip="Cancel">❌</button>
                            </div>
                        </div>
                    </div>

                    {{!-- Number Cost --}}
                    <div class="form-group property numberExp calc" data-name="system.cost">
                        <label>{{ localize "Spell.Cost" }}</label>
                        {{numberInput document.system.cost name="system.cost" disabled=false step=1}}
                        <a class="calculator-toggle action" data-action="toggle-calculator">
                            <i class="fa-solid fa-calculator"></i>
                        </a>
                        <div class="calculator">
                            <input type="number" class="calc-input" placeholder="Enter number">
                            <div class="calc-buttons">
                                <button data-action="calc-mode" data-mode="add" class="mode-button active action" data-tooltip="Add">➕</button>
                                <button data-action="calc-mode" data-mode="subtract" class="mode-button action" data-tooltip="Subtract">➖</button>
                                <button data-action="calc-mode" data-mode="multiply" class="mode-button action" data-tooltip="Multiply">✖️</button>
                                <button data-action="calc-mode" data-mode="divide" class="mode-button action" data-tooltip="Divide">➗</button>
                            </div>
                            <div class="calc-buttons">
                                <button data-action="calc-submit" class="action" data-tooltip="Submit">✅</button>
                                <button class="close-btn action" data-action="toggle-calculator" data-tooltip="Cancel">❌</button>
                            </div>
                        </div>
                    </div>

                    {{!-- String Summary --}}
                    <div class="form-group property stringExp" data-name="system.summary">
                        <label>{{ localize "Spell.Summary" }}</label>
                        <input name="system.summary" type="text" value="{{document.system.summary}}" placeholder="Summary"  />
                    </div>

                </div>

                {{!-- Tab Navigation --}}
                <nav class="sheet-navigation tabs" data-group="secondary">
                    <a class="item" data-tab="description"><i class="fa-solid fa-book"></i> {{ localize "Description" }}</a>
                    <a class="item" data-tab="effects"><i class="fa-solid fa-sparkles"></i> {{ localize "Effects" }}</a>
                </nav>

                <section class="tabs-container">
                    {{!-- Description Tab --}}
                    <div class="tab description flexrow" data-group="secondary" data-tab="description">
                        <fieldset>
                            {{!-- Description --}}
                            <div class="form-group stacked" data-name="system.description">
                                <label>{{ localize "Description" }}</label>
                                {{editor descriptionHTML target="system.description" button=false editable=editable engine="prosemirror" collaborate=false}}
                            </div>
                        </fieldset>
                    </div>

                
                    {{!-- Effects Tab --}}
                    <div class="tab effects" data-group="secondary" data-tab="effects" data-type="ActiveEffect">
                        {{!-- Effects Table --}}
                        <table class="display" style="width: 100%">
                            <thead>
                                <tr>
                                    <th data-class-name="priority" data-orderable="false">{{ localize "Image" }}</th>
                                    <th data-class-name="priority">{{ localize "Name" }}</th>
                                    <th>{{ localize "Source" }}</th>
                                    <th data-class-name="priority" data-orderable="false">{{ localize "Actions" }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each document.effects as |effect|}}
                                    <tr data-id="{{effect._id}}" data-uuid="{{effect.uuid}}" data-type="ActiveEffect">
                                        <td><img src="{{effect.img}}" title="{{effect.name}}" width=40 height=40 /></td>
                                        <td data-tooltip='{{effect.description}}'>{{effect.name}}</td>
                                        <td>{{effect.source}}</td>
                                        <td>
                                            <div class="flexrow">
                                                <a class="row-action" data-action="edit" data-item="{{effect._id}}" data-tooltip="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                                                <a class="row-action" data-action="sendToChat" data-item="{{effect._id}}" data-tooltip="{{localize 'SendToChat'}}"><i class="fas fa-message"></i></a>
                                                <a class="row-action" data-action="delete" data-item="{{effect._id}}" data-tooltip="{{ localize 'Delete' }}"><i class="fas fa-delete-left"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

        </section>
    </section>
</form>
